<% if request.path == '/entities' %>
<div class="container row">
  <div id="toggle-buttons" class="mt-2 text-right">
    <button id="ancient-toggle" type="button">Latter</button>
    <button id="recent-toggle" type="button" class="short-line">Recent</button>
  </div>
<div>
<% end %>