<% if request.path == '/entities' %>
  <div id="toggle-buttons" class="mt-3">
    <button id="all-toggle" type="button">All</button>
    <button id="ancient-toggle" type="button">Most Ancient</button>
    <button id="recent-toggle" type="button" style="text-decoration: underline;">Most Recent</button>
  </div>
<% end %>