  <div class="row">
    <div id="toggle-buttons" class="mb-3">
      <button id="ancient-toggle" type="button">Most Ancient</button>
      <button id="recent-toggle" type="button" style="text-decoration: underline;">Most Recent</button>
    </div>

<div id="entity-list">
  <div id="recent-entities" style="display: block;">
    <ul class="entities-collections">
      <% @recent_entities.each do |entity| %>
        <% @entity = entity %>
        <%= render partial: 'entity' %>
      <% end %>
    </ul>
  </div>

  <div id="ancient-entities" style="display: none;">
    <ul class="entities-collections">
      <% @ancient_entities.each do |entity| %>
        <% @entity = entity %>
        <%= render partial: 'entity' %>
      <% end %>
    </ul>
  </div>
</div>
</div>

<%= link_to 'New Entity', new_entity_path, class: "link-to-new btn btn-success mt-3 new-group-link" %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const entityList = document.getElementById('entity-list');
    const recentEntities = document.getElementById('recent-entities');
    const ancientEntities = document.getElementById('ancient-entities');
    const toggleButtons = document.getElementById('toggle-buttons');

    toggleButtons.addEventListener('click', function(event) {
      if (event.target.id === 'recent-toggle') {
        recentEntities.style.display = 'block';
        ancientEntities.style.display = 'none';
        document.getElementById('recent-toggle').style.textDecoration = 'underline';
        document.getElementById('ancient-toggle').style.textDecoration = 'none';
      } else if (event.target.id === 'ancient-toggle') {
        recentEntities.style.display = 'none';
        ancientEntities.style.display = 'block';
        document.getElementById('recent-toggle').style.textDecoration = 'none';
        document.getElementById('ancient-toggle').style.textDecoration = 'underline';
      }
    });
  });
</script>
